In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/World_countries_all_countries_different_parameter.csv', encoding = 'latin1')

In [3]:
df.head()

,Country or Dependency,Population(2020),Yearly Change,Net Change,Density(p/km^2),Land Area(km^2),Migrants,Fert Rate,Med Age,Urban,World Share,Regions
0,China,"1,439,323,776",0.39%,"5,540,090",153,"9,388,211","-348,399",1.7,38,61%,18.47%,Asia
1,India,"1,380,004,385",0.99%,"13,586,631",464,"2,973,190","-532,687",2.2,28,35%,17.70%,Asia
2,Indonesia,"273,523,615",1.07%,"2,898,047",151,"1,811,570","-98,955",2.3,30,56%,3.51%,Asia
3,Pakistan,"220,892,340",2.00%,"4,327,022",287,"770,880","-233,379",3.6,23,35%,2.83%,Asia
4,Bangladesh,"164,689,383",1.01%,"1,643,222","1,265","130,170","-369,501",2.1,28,39%,2.11%,Asia

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country or Dependency  234 non-null    object
 1   Population(2020)       234 non-null    object
 2   Yearly Change          234 non-null    object
 3   Net Change             234 non-null    object
 4   Density(p/km^2)        234 non-null    object
 5   Land Area(km^2)        234 non-null    object
 6   Migrants               201 non-null    object
 7   Fert Rate              234 non-null    object
 8   Med Age                234 non-null    object
 9   Urban                  234 non-null    object
 10  World Share            234 non-null    object
 11  Regions                234 non-null    object
dtypes: object(12)
memory usage: 22.1+ KB

In [5]:
# removing punctuation
df = df.replace(',\%','', regex=True)

In [6]:
df.head()

,Country or Dependency,Population(2020),Yearly Change,Net Change,Density(p/km^2),Land Area(km^2),Migrants,Fert Rate,Med Age,Urban,World Share,Regions
0,China,"1,439,323,776",0.39%,"5,540,090",153,"9,388,211","-348,399",1.7,38,61%,18.47%,Asia
1,India,"1,380,004,385",0.99%,"13,586,631",464,"2,973,190","-532,687",2.2,28,35%,17.70%,Asia
2,Indonesia,"273,523,615",1.07%,"2,898,047",151,"1,811,570","-98,955",2.3,30,56%,3.51%,Asia
3,Pakistan,"220,892,340",2.00%,"4,327,022",287,"770,880","-233,379",3.6,23,35%,2.83%,Asia
4,Bangladesh,"164,689,383",1.01%,"1,643,222","1,265","130,170","-369,501",2.1,28,39%,2.11%,Asia

In [8]:
df['Population(2020)'].iloc[210] = 579400
# there seems to be an error on the 210th row, where population was misinputted in a percentage value

In [9]:
df['Population(2020)'].min()

TypeError: '<=' not supported between instances of 'str' and 'int'