In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/ethereum_price.csv')

In [3]:
df.head()

           Date     Price      Open      High       Low     Vol. Change %
0  Mar 08, 2023  1,553.49  1,561.79  1,569.70  1,548.98  498.57K   -0.53%
1  Mar 07, 2023  1,561.78  1,565.84  1,580.95  1,536.31  460.10K   -0.26%
2  Mar 06, 2023  1,565.84  1,564.36  1,581.13  1,555.43  322.16K    0.09%
3  Mar 05, 2023  1,564.37  1,566.73  1,587.95  1,556.84  313.01K   -0.15%
4  Mar 04, 2023  1,566.73  1,569.45  1,577.02  1,550.10  247.02K   -0.14%

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2555 entries, 0 to 2554
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      2555 non-null   object
 1   Price     2555 non-null   object
 2   Open      2555 non-null   object
 3   High      2555 non-null   object
 4   Low       2555 non-null   object
 5   Vol.      2555 non-null   object
 6   Change %  2555 non-null   object
dtypes: object(7)
memory usage: 139.9+ KB

In [5]:
df.dtypes

Date        object
Price       object
Open        object
High        object
Low         object
Vol.        object
Change %    object
dtype: object

In [6]:
df['Price'] = df['Price'].str.replace(',', '').astype(float)
df['Open'] = df['Open'].str.replace(',', '').astype(float)
df['High'] = df['High'].str.replace(',', '').astype(float)
df['Low'] = df['Low'].str.replace(',', '').astype(float)
df['Change %'] = df['Change %'].str.replace('%', '').astype(float)

In [7]:
df.dtypes

Date         object
Price       float64
Open        float64
High        float64
Low         float64
Vol.         object
Change %    float64
dtype: object

In [8]:
# change vol. column to numbers: (x1000 for K, x1000000 for M, x1000000000 for B)
# for index, i in df.iterrows():
#     if 'K' in i['Vol.']:
#         i['Vol.'] = i['Vol.'].replace('K', '')
#         i['Vol.'] = float(i['Vol.'])
#         i['Vol.'] = i['Vol.'] * 1000
#     elif 'M' in i['Vol.']:
#         i['Vol.'] = i['Vol.'].replace('M', '')
#         i['Vol.'] = float(i['Vol.'])
#         i['Vol.'] = i['Vol.'] * 1000000
#     elif 'B' in i['Vol.']:
#         i['Vol.'] = i['Vol.'].replace('B', '')
#         i['Vol.'] = float(i['Vol.'])
#         i['Vol.'] = i['Vol.'] * 1000000000

In [9]:
df['Vol.'].head(20)

0     498.57K
1     460.10K
2     322.16K
3     313.01K
4     247.02K
5     783.74K
6     440.63K
7     497.12K
8     411.49K
9     458.53K
10    326.58K
11    309.29K
12    548.07K
13    529.75K
14    560.40K
15    554.52K
16    478.59K
17    427.00K
18    283.51K
19    617.21K
Name: Vol., dtype: object

In [10]:
df.dtypes

Date         object
Price       float64
Open        float64
High        float64
Low         float64
Vol.         object
Change %    float64
dtype: object

In [11]:
# converting to datetime
df['Date'] = pd.to_datetime(df['Date'])

In [13]:
df.dtypes

Date        datetime64[ns]
Price              float64
Open               float64
High               float64
Low                float64
Vol.                object
Change %           float64
dtype: object

In [12]:
df.head()

        Date    Price     Open     High      Low     Vol.  Change %
0 2023-03-08  1553.49  1561.79  1569.70  1548.98  498.57K     -0.53
1 2023-03-07  1561.78  1565.84  1580.95  1536.31  460.10K     -0.26
2 2023-03-06  1565.84  1564.36  1581.13  1555.43  322.16K      0.09
3 2023-03-05  1564.37  1566.73  1587.95  1556.84  313.01K     -0.15
4 2023-03-04  1566.73  1569.45  1577.02  1550.10  247.02K     -0.14